@charset "UTF-8";

ul {
    width: fit-content;
    border-radius: 4px;
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 4px;
    background-color: #222831;
}

ul li {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    list-style: none;
    padding: 12px 16px;
    border-radius: 4px;
    transition: .4s ease-in-out;
}

ul li a {
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}

ul li:hover {
    background-color: #15F5BA;
}
